.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 60px;
  font-family: Verdana, sans-serif;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  line-height: 20%;
  color: #ffffff; }
  @media screen and (max-width: 640px) {
    .wrapper {
      border-radius: 20px; } }
  .wrapper > * {
    width: 49%; }
    @media screen and (max-width: 992px) {
      .wrapper > * {
        width: 100%; } }
  .wrapper p {
    text-shadow: #000000 0 0 10px; }

.buttons {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center; }
  .buttons > * {
    width: 15%;
    height: 40px;
    border: transparent;
    border-radius: 20px;
    box-shadow: #000000 0 0 50px;
    background-color: #ffffff;
    cursor: pointer; }
    .buttons > *:hover {
      background-color: #fffaaa; }
    .buttons > *:active {
      background-color: #afafaf;
      box-shadow: #ffffff 0 0 50px; }
    @media screen and (max-width: 992px) {
      .buttons > * {
        margin-top: 20px; } }
    @media screen and (max-width: 640px) {
      .buttons > * {
        width: 20%; } }

.location {
  font-size: 50px; }

.forecast {
  font-size: 30px; }
  .forecast__temp {
    font-size: 100px; }

.map {
  line-height: 100%; }
  @media screen and (max-width: 992px) {
    .map {
      margin-top: 20px; } }
  @media screen and (max-width: 640px) {
    .map {
      font-size: 30px; } }
  .map #map {
    width: 80%;
    min-height: 200px;
    margin: 0 auto; }
    @media screen and (max-width: 992px) {
      .map #map {
        margin-bottom: 40px; } }
    @media screen and (max-width: 640px) {
      .map #map {
        width: 90%;
        margin-left: 2%; } }

.ymaps-2-1-75-i-ua_js_yes {
  border: 8px solid #ffffff;
  border-radius: 10px; }

